@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@-webkit-keyframes openContainer {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}
@keyframes openContainer {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 10px;
  background-color: #1d1c22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  border-radius: 15px;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8ff;
  -webkit-box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
}

.form-container.closed {
  height: 0;
}

.form-container.open {
  -webkit-animation: openContainer 500ms;
          animation: openContainer 500ms;
}

.form-container > div {
  opacity: 0;
}

.form-container > div.open {
  -webkit-animation: fadeIn 100ms;
          animation: fadeIn 100ms;
}

.form-header {
  padding: 3.5rem 0 2.5rem 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #1d1c22;
  border-bottom: 2px solid #1d1c22;
}

.form-group {
  padding: 2rem 0 0rem 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#form-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding: 0 0 4rem 0;
}

#form-navs > span {
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
  color: #1d1c22;
}

#form-navs #form-navs-link {
  font-size: 2rem;
  color: #6a62d2;
  cursor: pointer;
}

#form-navs #form-navs-link:hover {
  text-decoration: underline;
}

.form-label {
  font-size: 2.1rem;
  color: #1d1c22;
  display: block;
  opacity: 1;
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.form-input {
  font-size: 2.5rem;
  height: 6rem;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  border-style: none none solid none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.form-input::-webkit-input-placeholder {
  color: transparent;
}

.form-input:-ms-input-placeholder {
  color: transparent;
}

.form-input::-ms-input-placeholder {
  color: transparent;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #1d1c22;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-8rem) scale(0.8);
          transform: translateY(-8rem) scale(0.8);
}

.form-button {
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f8f8ff;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 2rem 0 2rem 0;
  font-size: 1.7rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #1d1c22;
  width: 100%;
}

.form-button:active {
  background-color: #4d4c53;
}
/*# sourceMappingURL=styles.css.map */