$color-black: #1d1c22;
$color-grey: #4d4c53;
$color-dark-grey: #3e3e42;
$color-white:#f8f8ff;
$color-blue: #6a62d2;
$color-dark-blue: #5c53d4;
$color-green: #5B9279;
$color-red: #ff746d;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@keyframes openContainer 
{
    0% {max-height:0px;}
    100% {max-height: 1000px;}
}
@keyframes fadeIn 
{
    0% {opacity:0;}    
    100% {opacity: 1;}
}


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html
{
    min-width: 100vw;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    background-color: $color-black;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

textarea
{
    resize: none;
}

//Forms
.form-container
{  
    border-radius: 15px;
    width:40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    box-shadow: 0px -1px 45px -4px rgba(0,0,0,0.75);
    >div {opacity: 0; &.open{animation: fadeIn 100ms;}}
    &.closed {height:0;}
    &.open{animation: openContainer 500ms ;}
}
.form-header
{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
    color: $color-black;
    justify-content: center;
    padding: 3.5rem 0 2.5rem 0;
    margin-bottom:1.5rem;
    border-bottom: 2px solid $color-black;
}
.input-group {padding: 2rem 0 0rem 0;}
.form-navs
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    padding:0 0 4rem 0;
    >span
    {
        font-size:2rem;
        padding: 0 1rem 0 1rem;
        color: $color-black;

    }
    .form-navs-link
    {   
        font-size:2rem;
        color:$color-blue;
        cursor: pointer;
        &:hover
        {
            text-decoration: underline;
        }
    }
}
.form-label
{
    font-size:2.1rem;
    color: $color-black;
    display:block;
    opacity:1;
    transform:translateY(-4.5rem);
    transform-origin: 0 0;
    transition: all 300ms
}
.form-button
{
    font-family: 'Rubik', sans-serif;
    color: $color-white;
    padding:1.5rem 0.5rem 1.5rem 0.5rem;
    margin: 2rem 0 2rem 0;
    font-size: 1.7rem;
    transition:all 300ms;
    cursor: pointer;
    transform-origin: left;
    background-color: $color-black;
    width: 100%;
    &:active {background-color: $color-grey;}
}
.form-error
{
    &.active{opacity: 1;}
    opacity: 0;
    font-size: 1.4rem;
    color:$color-red;
    transform: translateY(8rem);
}


//Header
.header-container
{
    font-family: 'Rubik', sans-serif;
    width: 180rem;
    font-weight: bold;
    color:$color-white;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.1fr repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5rem 0 2.5rem 0;
    &.closed{opacity:0}
    &.open{animation: fadeIn 500ms;}
}
.header-title
{
    grid-area:  1 / 1 / 6 / 3; 
    text-align: center;
    font-size:7rem;
}
.header-block 
{
    grid-area:  1 / 4 / 6 / 8;
    font-size: 3rem; 
    padding-right:7rem;
    width:100%;
    text-align: right;
}
.header-intro{font-size: 3rem;}      
#logout-form 
{
    margin-top:1rem;
    width:100%;
    button
    {
        font-size: 1.7rem;
        padding:0.8rem;
        margin:0.5rem;
        width: 15rem;
        color: $color-white;
        font-family: 'Rubik', sans-serif;
        border: none;
        border-radius: 7.5px; 
        cursor: pointer;
        background-color: $color-grey;
        &:hover {background-color: $color-dark-grey;opacity: 80%;}
        &:active, &:active{background-color: $color-dark-grey; opacity: 100%;}
    }
}


//Index
.index-container
{
    box-shadow: 0px -1px 45px -4px rgba(0,0,0,0.75);
    width: 170rem;
    height:78rem;
    margin: 0 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.1fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    >div {opacity: 0; &.open{animation: fadeIn 100ms;}}
    &.closed {height:0;}
    &.open{animation: openContainer 500ms ;}
}
//Index Buttons
.index-button
{
    color:$color-white;
    font-family: 'Rubik', sans-serif;
    outline: transparent;
    border: none;
    opacity: 90%;
    font-size: 1.7rem;
    padding: 1.5rem;
    font-weight: bold;
    margin: 3rem 0 1.5rem 0;
    width: 90%;
    cursor: pointer;
}
#addProject
{
    background-color: $color-black;
    margin: 2.5rem 0 1.5rem 0;
    padding: 1.5rem;
    cursor: pointer;
    border-radius: 7.5px;
    &:hover
    {
        opacity: 90%;
        background-color: #070708;
    }
    &:active
    {
        opacity: 100%;
        outline:$color-blue;
        background-color: #070708;
    }
    
}
#addTask
{  
    background-color: $color-blue;
    border-radius: 7.5px;
    &:hover
    {
        opacity: 90%;
        background-color: $color-dark-blue;
    }
    &:active{
        opacity: 100%;
        background-color: $color-dark-blue;
    }
}


.project-container
{
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-grey;
    color: $color-white;
    grid-area: 1 / 1 / 6 / 3; 
}
.project-header
{
    height: 13%;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    padding:4rem 0 2.5rem 0;
}
.project-list
{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #7a7883 solid 0.3rem;
    margin-top:2rem;
    padding-top:1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-white $color-grey;
}
.project-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95%;
    max-width: 45rem; 
    font-size: 1.5rem;

    margin: 0.7rem 0 1rem 0;
    background-color: inherit;
    cursor: pointer;
    color: $color-white;
    opacity: 60%;
    border-radius: 7.5px;
    z-index: 1;
    &:hover, &:focus
    {
        outline: none;
        opacity: 80%;
        background-color: $color-dark-grey;
    }
    &.active
    {
        opacity:100%;
        background-color: $color-dark-grey;
    }  
}

.project-title{ font-family: 'Rubik', sans-serif; width:77%; height: 100%;     padding:2.5rem 1.5rem 2rem 1.5rem ;  }
.project-buttons{width:23%;}
.project-form
{
    font-family: 'Rubik', sans-serif;
    width:95%; 
    padding: 5.5rem 2rem 3rem 2rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
    max-height: 60%;
    border-radius: 7.5px;
    background-color: $color-dark-grey;
}

// Tasks
.task-container
{
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    padding-top: 1rem;
    overflow: hidden;
    grid-area: 1 / 4 / 6 / 8; 
}
.task-header
{
    width:100%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    max-height: 14.5%;;
    min-height: 14.5%;
    border-bottom: $color-grey solid 0.3rem; 
}
#task-header-main {font-size: 3.5rem;}
#task-header-sub {font-size: 2rem; padding: 1rem 0 1rem 0;}
.task-list
{
    height: 64%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-grey $color-white;
    font-family: 'Rubik', sans-serif;
    padding:1rem 2rem 1rem 2rem;
    border-radius: 7.5px;
    width: 100%;
    height:95%;
    background-color: $color-white;
}
.task-item, #task-form
{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding:1.5rem 2rem 1.5rem 2rem;
    margin: 1.2rem 0 1.2rem 0;
    color: $color-black;
    font-size: 1.7rem;
    cursor:default;
    border: $color-grey solid 0.2rem ;
    transition: all 0.1s;
    border-radius: 7.5px;
    opacity: 80%;
    &:hover, &:focus
    {
        transform:scale(1.01);
        opacity: 100%;
    }
}



//Item Buttons
.task-buttons, .task-form-buttons, .project-buttons, .project-form-buttons
{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.task-edit, .project-edit
{
    width: 2.8rem;
    cursor: pointer;
    height: 2.8rem;
    background-size: contain;
    opacity: 55%;
    transition: all 0.1s;
    &:hover{opacity: 80%;}
    &:active{opacity: 100%;}
}
.task-delete, .project-delete
{
    width: 3rem;
    cursor: pointer;
    height: 2.8rem;
    background-size: contain;
    opacity: 55%;
    transition: all 0.1s;
    z-index: 9999;
    &:hover{opacity: 80%;}
    &:active{opacity: 100%;}
}
.task-edit{background-image: url(../assets/trans-edit.png);}
.task-delete{background-image: url(../assets/trans-delete.png);}
.project-delete{background-image: url(../assets/trans-delete-grey.png); margin-top:-1rem;width:2.5rem; height:2.6rem;}
.project-edit{background-image: url(../assets/trans-edit-grey.png);  margin-top:-1rem; width:2.6rem; height:2.6rem;}


//Checkbox
input[type=checkbox] {opacity: 0;} 
input[type=checkbox]+label
{
    position: relative;
    padding: 1.3rem 0 0 4.2rem;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    color:$color-black;
}
input[type=checkbox]+label::before
{
    content: "";
    left: 0;
    top:1rem;
    position: absolute;
    width:2.5rem;
    transition: all 0.2s;
    height: 2.5rem;
    outline:0.5rem solid #aaa;
    background: $color-white;
}
input[type=checkbox]:checked +label::before
{
    content: "";
    left: 0;
    top:1rem;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    outline: 0.5rem solid $color-green;
    background: $color-white;
}
input[type=checkbox]:checked +label::after
{
    content: "";
    left: 0;
    top:1rem;
    position: absolute;
    width:2.5rem;
    height: 2.5rem;
    background-image: url(../assets/trans-check.png);
    background-size: contain;
}
.task-title{cursor:pointer}


//Inputs
.form-input
{
    font-size: 2.5rem;
    height: 6rem;
    width:100%;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border-style: none none solid none;
}
.task-input
{
    padding: 0.8rem;
    border-radius: 7.5px;
    font-size:1.7rem;
    background-color: transparent;
    border: 0.2rem solid $color-dark-grey;
}
#task-title-input{margin: 2.7rem 0 0 1.2rem; width: 75rem;}
.task-input-label{color:$color-black;}
.task-title-label
{
    font-size:2.1rem;
    display:block;
    transform:translateY(-3.3rem) translateX(2.5rem);
    transform-origin: 0 0;
    opacity:70%;
    transition: all 300ms
}
.task-due-label{margin-right:1rem;}
.project-input
{
    width:100%;
    color:$color-white;
    padding: 0.8rem;
    border-radius: 7.5px;
    font-size:1.7rem;
    background-color: $color-grey;
    border: 0.2rem solid $color-white;
 
}
#project-description-input {margin-top:3rem;}
.project-input-label 
{
    color:$color-white;  
    font-size:2.1rem;
    display:block;
    transform-origin: 0 0;
    opacity:70%;
    transition: all 300ms
}
.project-title-label {transform:translateY(-3.3rem) translateX(1rem);}
.project-description-label {transform:translateY(-8.7rem) translateX(1rem);}
.form-input::placeholder, .task-input::placeholder, .project-input::placeholder {color:transparent;}
.form-input:focus,.task-input:focus, .project-input:focus {outline:none; border-color: $color-black;}
.task-create-button, .project-create-button
{
    font-size: 1.7rem;
    padding:0.7rem;
    margin-top: 0.5rem;
    width:9rem;
    border-radius: 7.5px;
    cursor: pointer;
}               
.task-submit, .project-submit {background-color: $color-green;color: $color-white;}
.task-cancel, .project-cancel {background-color: $color-red;color: $color-white;}


//Input placeholder
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) +.form-label
{transform: translateY(-8rem) scale(0.8);}

.task-input:focus + .task-input-label,
.task-input:not(:placeholder-shown) +.task-input-label 
{transform: translateY(-6.5rem) translateX(1.6rem) scale(0.8);opacity: 100%;}

#project-title-input:focus + .project-input-label,
#project-title-input:not(:placeholder-shown) +.project-title-label
{transform: translateY(-6.5rem) translateX(0.5rem) scale(0.8) ;opacity: 100%;}

#project-description-input:focus + .project-description-label,
#project-description-input:not(:placeholder-shown) +.project-description-label
{transform: translateY(-12.5rem) translateX(0.5rem) scale(0.8);opacity: 100%;}