@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@-webkit-keyframes openContainer {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}
@keyframes openContainer {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 1000px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1c22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

.form-container {
  border-radius: 15px;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8ff;
  -webkit-box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
}

.form-container.closed {
  height: 0;
}

.form-container.open {
  -webkit-animation: openContainer 500ms;
          animation: openContainer 500ms;
}

.form-container > div {
  opacity: 0;
}

.form-container > div.open {
  -webkit-animation: fadeIn 100ms;
          animation: fadeIn 100ms;
}

.form-header {
  padding: 3.5rem 0 2.5rem 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d1c22;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #1d1c22;
  border-bottom: 2px solid #1d1c22;
}

.input-group {
  padding: 2rem 0 0rem 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.form-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding: 0 0 4rem 0;
}

.form-navs > span {
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
  color: #1d1c22;
}

.form-navs .form-navs-link {
  font-size: 2rem;
  color: #6a62d2;
  cursor: pointer;
}

.form-navs .form-navs-link:hover {
  text-decoration: underline;
}

.form-label {
  font-size: 2.1rem;
  color: #1d1c22;
  display: block;
  opacity: 1;
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.form-input {
  font-size: 2.5rem;
  height: 6rem;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  border-style: none none solid none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.form-input::-webkit-input-placeholder {
  color: transparent;
}

.form-input:-ms-input-placeholder {
  color: transparent;
}

.form-input::-ms-input-placeholder {
  color: transparent;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #1d1c22;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-8rem) scale(0.8);
          transform: translateY(-8rem) scale(0.8);
}

.form-button {
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f8f8ff;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 2rem 0 2rem 0;
  font-size: 1.7rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #1d1c22;
  width: 100%;
}

.form-button:active {
  background-color: #4d4c53;
}

.form-error {
  opacity: 0;
  font-size: 1.4rem;
  color: #ff746d;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.form-error.active {
  opacity: 1;
}

.header-container {
  width: 180rem;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #f8f8ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 0.1fr (1fr)[4];
      grid-template-columns: 1fr 0.5fr 0.1fr repeat(4, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  padding: 2.5rem 0 2.5rem 0;
}

.header-container.closed {
  opacity: 0;
}

.header-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 6 / 3;
  text-align: center;
  font-size: 7rem;
}

.header-block {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 1 / 4 / 6 / 8;
  font-size: 3rem;
  padding-right: 7rem;
  width: 100%;
  text-align: right;
}

.header-intro {
  font-size: 3rem;
}

#logout-form {
  margin-top: 1rem;
  width: 100%;
}

#logout-form button {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  cursor: pointer;
  color: #f8f8ff;
  background-color: #4d4c53;
  font-size: 1.5rem;
  padding: 0.8rem;
  margin: 0.5rem;
  width: 15rem;
}

#logout-form button:hover {
  background-color: #3e3e42;
  opacity: 80%;
}

#logout-form button:active {
  background-color: #3e3e42;
  opacity: 100%;
}

.index-container {
  -webkit-box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 45px -4px rgba(0, 0, 0, 0.75);
  width: 170rem;
  height: 78rem;
  margin: 0 0 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 0.1fr (1fr)[4];
      grid-template-columns: 1fr 0.5fr 0.1fr repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.index-container.closed {
  height: 0;
}

.index-container.open {
  -webkit-animation: openContainer 500ms;
          animation: openContainer 500ms;
}

.index-container > div {
  opacity: 0;
}

.index-container > div.open {
  -webkit-animation: fadeIn 100ms;
          animation: fadeIn 100ms;
}

.index-button {
  color: #f8f8ff;
  outline: transparent;
  opacity: 90%;
  font-size: 1.8rem;
  padding: 1.5rem;
  font-weight: bold;
  margin: 3rem 0 1.5rem 0;
  width: 90%;
  cursor: pointer;
}

#addProject {
  background-color: #1d1c22;
  margin: 1rem 0 1.5rem 0;
  padding: 1.5rem;
  cursor: pointer;
}

#addProject:hover {
  opacity: 90%;
  background-color: #070708;
}

#addProject:active {
  opacity: 100%;
  background-color: #070708;
}

#addTask {
  background-color: #6a62d2;
}

#addTask:hover {
  opacity: 90%;
  background-color: #5c53d4;
}

#addTask:active {
  opacity: 100%;
  background-color: #5c53d4;
}

.project-container {
  border-radius: 1.5rem;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4d4c53;
  color: #f8f8ff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 6 / 3;
}

.project-header {
  width: 100%;
  font-size: 3rem;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.project-list {
  border-top: #7a7883 solid 0.3rem;
  margin-top: 2rem;
  padding-top: 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f8f8ff #4d4c53;
}

.project-item {
  font-family: 'Rubik', sans-serif;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  padding: 2.5rem 1.5rem 1.9rem 1.5rem;
  margin: 0.7rem 0 0.7rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  cursor: pointer;
  color: #f8f8ff;
  opacity: 60%;
  border-radius: 10px;
  z-index: 1;
}

.project-item:hover {
  opacity: 80%;
  background-color: #3e3e42;
}

.project-item.active {
  opacity: 100%;
  background-color: #3e3e42;
}

.project-delete {
  width: 2.5rem;
  cursor: pointer;
  height: 2.5rem;
  background-image: url(../assets/trans-delete-grey.png);
  background-size: contain;
  opacity: 75%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  z-index: 3;
}

.project-delete:hover {
  opacity: 80%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.task-container {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Rubik', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8ff;
  padding-top: 1rem;
  overflow: hidden;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 1 / 4 / 6 / 8;
}

.task-header {
  text-align: center;
  width: 100%;
  height: 18%;
  border-bottom: #4d4c53 solid 0.3rem;
}

#task-header-main {
  font-size: 4rem;
}

#task-header-sub {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.task-list {
  height: 64%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4d4c53 #f8f8ff;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 95%;
  background-color: #f8f8ff;
}

.task-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin: 1.2rem 0 1.2rem 0;
  font-size: 1.7rem;
  border: #4d4c53 solid 0.1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-radius: 10px;
}

.task-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.task-buttons {
  font-family: 'Rubik', sans-serif;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.task-edit {
  width: 2.5rem;
  cursor: pointer;
  height: 2.5rem;
  background-image: url(../assets/trans-edit.png);
  background-size: contain;
  opacity: 55%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.task-edit:hover {
  opacity: 80%;
}

.task-edit:active {
  opacity: 100%;
}

.task-delete {
  width: 2.5rem;
  cursor: pointer;
  height: 2.5rem;
  background-image: url(../assets/trans-delete.png);
  background-size: contain;
  opacity: 55%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.task-delete:hover {
  opacity: 80%;
}

.task-delete:active {
  opacity: 100%;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox] + label {
  position: relative;
  padding: 1rem 0 1rem 4.2rem;
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-block;
  color: #1d1c22;
}

input[type=checkbox] + label::before {
  content: "";
  left: 0;
  top: 1rem;
  position: absolute;
  width: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 2.5rem;
  outline: 0.5rem solid #aaa;
  background: #f8f8ff;
}

input[type=checkbox]:checked + label::before {
  content: "";
  left: 0;
  top: 1rem;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  outline: 0.5rem solid #5B9279;
  background: #f8f8ff;
}

input[type=checkbox]:checked + label::after {
  content: "";
  left: 0;
  top: 1rem;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../assets/trans-check.png);
  background-size: contain;
}

.task-input {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.task-title-input {
  padding: 0.8rem;
  margin: 2.7rem 0 0 1.2rem;
  border-radius: 5px;
  font-size: 1.7rem;
  width: 75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #4d4c53;
}

.task-due-input {
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.7rem;
  border: 0.2rem solid #1d1c22;
}

.task-input::-webkit-input-placeholder {
  color: transparent;
}

.task-input:-ms-input-placeholder {
  color: transparent;
}

.task-input::-ms-input-placeholder {
  color: transparent;
}

.task-input::placeholder {
  color: transparent;
}

.task-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #1d1c22;
}

.task-input-label {
  color: #1d1c22;
}

.task-title-label {
  font-size: 2.1rem;
  display: block;
  -webkit-transform: translateY(-3.3rem);
          transform: translateY(-3.3rem);
  padding-left: 2.2rem;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 70%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.task-due-label {
  margin-right: 1.2rem;
}

.task-input:focus + .task-input-label,
.task-input:not(:placeholder-shown) + .task-input-label {
  -webkit-transform: translateY(-6.5rem) scale(0.8);
          transform: translateY(-6.5rem) scale(0.8);
  opacity: 100%;
}

.task-create-button {
  font-size: 1.5rem;
  padding: 0.7rem;
  margin-top: 0.5rem;
  width: 9rem;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.task-submit {
  background-color: #5B9279;
  color: white;
}

.task-cancel {
  background-color: #ff746d;
  color: #f8f8ff;
}
/*# sourceMappingURL=styles.css.map */