@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

$color-black: #1d1c22;
$color-grey: #4d4c53;
$color-white:#f8f8ff;
$color-blue: #6a62d2;
$color-dark-blue: #5c53d4;
$color-red: #ff746d;


@keyframes openContainer 
{
    0%
    {
        max-height:0px;
    }
    100%
    {
        max-height: 1000px;
    }
}

@keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }    
    100%
    {
        opacity: 1;
    }
}



*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html
{
    min-width: 100vw;
    min-height: 100vh;
    font-size: 10px;
    background-color: $color-black;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.form-container
{
    &.closed 
    {
        height:0;
        
    }
    &.open
    {
        animation: openContainer 500ms ;
    }
    
    border-radius: 15px;
    width:40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    box-shadow: 0px -1px 45px -4px rgba(0,0,0,0.75);
    >div {opacity: 0; &.open{animation: fadeIn 100ms;}}

}

.form-header
{
    padding: 3.5rem 0 2.5rem 0;
    margin-bottom:1.5rem;
    font-size: 1.2rem;
    display: flex;
    color: $color-black;
    align-items: center;
    justify-content: center;
    width:100%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: $color-black;
    border-bottom: 2px solid $color-black;
}


.input-group
{
    padding: 2rem 0 0rem 0;
    transition: all 300ms;
}
.form-navs
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    padding:0 0 4rem 0;
    >span
    {
        font-size:2rem;
        padding: 0 1rem 0 1rem;
        color: $color-black;

    }
    .form-navs-link
    {    font-size:2rem;
        color:$color-blue;
        cursor: pointer;
        &:hover
        {
            text-decoration: underline;
        }
    }
}

.form-label
{
    font-size:2.1rem;
    color: $color-black;
    display:block;
    opacity:1;
    transform:translateY(-4.5rem);
    transform-origin: 0 0;
    transition: all 300ms
}

.form-input
{
    font-size: 2.5rem;
    height: 6rem;
    width:100%;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border-style: none none solid none;
    transition: all 500ms;
}

.form-input::placeholder
{
    color:transparent;
}

.form-input:focus
{
    box-shadow: none;
    outline:none;
    border-color:$color-black;
}


.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) +.form-label
{
    transform: translateY(-8rem) scale(0.8);
}

.form-button
{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    color: $color-white;
    // border-color: $color-black;
    padding:1.5rem 0.5rem 1.5rem 0.5rem;
    margin: 2rem 0 2rem 0;
    // padding: 0;
    font-size: 1.7rem;
    transition:all 300ms;
    cursor: pointer;
    transform-origin: left;
    background-color: $color-black;
    width: 100%;
    &:active
    {
        background-color: $color-grey;
    }
}



